:root {
    
}

body{
    color: rgb(255, 255, 255);
}
.inputDiv{
    margin: 10px;
}

.formHTML {
    padding-left: 100px;
}

.rendered{
    display: flex;
    border: 3px solid black;
    margin: 10px; 
    width: 50%;  
}
ul{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
}
.renderedLi {
    padding-left: 1em;
    list-style-type: none;
    color: wheat;
}

#readBooksBtn{
    /* border: 5px solid black; */
    font-size: larger;
    width: 50%;

}

.readBooksDiv{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
